* {
    black: #121A21;
    gray: #364C63;
    red: #D92626;
    green: #26D980;
    yellow: #D9D926;
    blue: #406ABF;
    magenta: #BF40BF;
    cyan: #26D9BB;
    white: #E0DAB8;

    fg: @white;
    bg: @black;
    ph: @gray;
    success: @green;
    warning: @yellow;
    alert: @red;
    highlight1: @magenta;
    highlight2: @cyan;
    highlight3: @blue;
}

