// HELP: rofi -dump-config

configuration {
    modes: [drun, keys, filebrowser];
    
    display-drun: "Applications:";
    display-keys: "Shortcuts:";
    display-filebrowser: "Files:";

    drun-display-format: "{name}";
}

@theme "default.rasi"
